@{
     Layout = "_Layout";
 }

<head>
    <title>HairSalon</title>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">HairSalon</a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Clients List</h1>
        </div>
        <form id="" action = "/SaveClient" method = "post">
        <div class="form-group">
            <label for="name">Name of Stylist:</label>
            <input name="stylistname" type="text" class="form-control" id="">
            <label for="name">Name of Client:</label>
            <input name="clientname" type="text" class="form-control" id="">
            <br>
        <button type="submit" class="btn">Add Client</button>
    </form>
    </div>
</div>
    <br>
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>List of Clients:</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Stylist Name</th>
                                <th>Clients Name</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Stylist Name</th>
                                <th>Clients Name</th>

                            </tr>
                        </tfoot>
                        <tbody>
                                @if (Model!=null)
                                {
                                    foreach(var Client in Model)
                                    {
                                <tr>
                                    <td>@Client.GetStylist()</td>
                                    <td>@Client.GetName()</td>
                                </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn"><a href="/">Back to Employee List</a></button>

        </div>
    </div>
    </div>
</body>

</html>
