@{ Layout = "_Layout"; }

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Employee List</h1>
        </div>
        <form action="/StylistAdd" method="post">
            <div class="form-group">
                <label for="name">Add Stylist Employee:</label>
                <input name="stylistname" type="text" class="form-control" required>
                <br>
                <button type="submit" class="btn">Add Stylist</button>
        </form>
        </div>
    </div>
    <br>

    <div class="container">
            <a style="float: left;" href="/ClientList">Go to Full Client List</a>
            <a style="float: right;" href="/SpecialtyList">Go to Full Specialty List</a>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @if (Model!=null) { foreach(var Stylist in Model) {
                            <tr>
                                <td><a href="/StylistDetails/@Stylist.GetId()">@Stylist.GetName()
                                <form action="/Stylist/@Stylist.GetId()/delete" method="post">
                                <button style="float: right;" class="btn" type="submit">Delete Stylist</button>
                                </form>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="/delete-all" method="post">
              <button class="btn btn-danger" type="submit">Delete all Stylists</button>
            </form>

            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    </div>
